<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>m</title>
</head>
<body>

<form action="{% url 'message:add'  %}" method="post">
    {% csrf_token %}
    <input type="text" name="user"/>
    <input type="text" name="content"/>
    <input type="submit" value="Vote">
</form>

{% if message_list %}
    <ul>
    {% for message in message_list %}
        <li>{{ message.message_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No message.</p>
{% endif %}

</body>
</html>